/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: 0 10px;
  display: grid;
  gap: 40px;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

@media (width >= 768px) {
  .page {
    gap: 60px;
    padding: 0 20px;
  }
}

.header{
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  color: var(--main-text-color);
}

@media (width >= 768px) {
  .header {
    block-size: max(100vh, 1024px);
  }
}

@media (width >= 1024px) {
  .header {
    block-size: max(100vh, 768px);
  }
}

.decorated-item{
  display: var(--decorated-item-display);
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 28px;
  text-align: center;
  line-height: 138.889%;
  font-size: 18px;
  inline-size: 33px;
  block-size: 26px;
}

@media (width >= 768px) {
  .decorated-item {
    inset-block-start: 20px;
  }
}

.decorated-item::after{
  content: "";
  position: absolute;
  inset-block-start: 8px;
  margin-inline-start: 26px;
  inline-size: 9px;
  block-size: 9px;
  filter: drop-shadow(0px 0px 4px var(--accent-color));
  background-color: var(--accent-color);
  border-radius: 100%;
  border: none;
}

.decorated-zone::before{
  content: "";
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--main-text-color);
  border-inline-end: 1px solid var(--main-text-color);
  background-color: transparent;
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
  }
}

.decorated-zone::after{
  content: "";
  position: absolute;
  inset-block-end: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--main-text-color);
  border-inline-start: 1px solid var(--main-text-color);
  background-color: transparent;
}

@media (width >= 768px) {
  .decorated-zone::after {
    inset-block-end: 20px;
  }
}

.header__theme{
  display: grid;
  min-inline-size: 100%;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  padding: 10px 0;
}

@media (width >= 768px) {
  .header__theme {
    padding: 20px 0;
  }
}

.header__theme-menu{
  justify-self: end;
  align-self: center;
}

@media (width >= 1024px) {
  .header__theme-menu{
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list{
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}

@media (width >= 1024px) {
  .header__theme-menu-list{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.header__theme-menu-button{
  min-block-size: 26px;
  padding: 0 13px;
  appearance: none;
  background-color: transparent;
  color: inherit;
  text-align: center;
  line-height: 100%;
  outline: none;
  border: none;
}

.header__theme-menu-button:not(:enabled){
  border: 1px solid var(--main-text-color);
}

.header__theme-menu-button:hover{
border: 1px solid var(--hover-button-color);
cursor: pointer;
}

.header__theme-menu-button:focus,
.card__text-link:focus{
  outline: none;
  border: none
}

.header__theme-menu-button:focus-visible{
border-block-end: 1px solid var(--main-text-color);
}

.header__theme-menu-button_active{
  pointer-events: none;
}

.cover{
  align-self: center;
}

.cover-title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--cover-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
  font-weight: 700;
}

@media (width >= 768px) {
  .cover-title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
}

@media (width >= 1024px) {
  .cover-title{
    --accent-color: #ff0070;
  }
}

.header__text{
  align-self: center;
}

@media (width >= 768px) {
  .header__text{
    justify-self: end;
    max-inline-size: 50%;
  }
}

.content{
  display: grid;
  gap: 50px;
}

@media (width >= 768px) {
  .content{
    gap: 80px;
  }
}

.title-decor{
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-weight: 700;
  line-height: 130%;
  font-size: 18px;
  margin-block-end: 10px;
}

.header__text .title-decor{
  margin-block-end: 0;
}

.chapters{
  display: grid;
  gap: 50px;
}

@media (width >= 768px) {
  .chapters{
    gap: 80px;
  }
}

.chapters-list{
  display: grid;
  gap: 50px;
}

@media (width >= 768px) {
  .chapters-list{
    gap: 80px;
  }
}

.chapters-list-item{
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .chapters-list-item{
    grid-template-columns: 1fr 2fr;
  }
  .chapters-list-item:last-child{
    grid-template-rows: 23px auto;
  }
}

@media (width >= 1024px) {
  .chapters-list-item{
    grid-template-columns: auto 66%;
  }
}

.card__text-link{
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.card__text-link:hover{
  border-block-end: 1px solid var(--card-text-color);
}

.card__text-link:focus-visible{
  border: 1px solid var(--card-text-color);
}

.chapters-title{
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.tips-title{
  margin-block-end: 0;
}

@media (width >= 768px){
  .tips-title{
  }  
}

.focus-list{
  display: grid;
  gap: 20px;
}

.title-recommendations{
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.concentration-list{
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .concentration-list{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (width >= 1024px) {
  .concentration-list{
    grid-template-columns: repeat(3, 1fr);
  }
}

.tips-list{
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .tips-list{
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.title-recommendations{
  margin-block-end: 10px;
}

.card__text{
  color: var(--card-text-color);
  line-height: 130%;
}

@media (width >= 768px) {
  .galery .title-decor{
    margin-block-end: 20px;
  }
}

.galery-zone{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
  gap: 10px;
  place-items: center;
}

@media (width >= 768px) {
  .galery-zone{
    gap: 20px;
  }
}

.galery-item{
  inline-size: min(100%, 375px);
  display: flex;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px){
  .galery-item:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    min-inline-size: 100%;
  }

  .galery-item:nth-child(2){
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    min-block-size: 100%;
  }

  .galery-item:nth-child(3){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    min-block-size: 100%;
  }

  .galery-item:last-child{
    grid-column-start: 2;
    grid-column-end: 4;
    min-inline-size: 100%;
  }

}

.footer{
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width >= 768px) {
  .footer {
    block-size: max(100vh, 1024px);
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .footer {
    block-size: max(100vh, 768px);
  }
}

.footer-title{
  color: var(--cover-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  place-self: center;
}